body {
    background-color: #f2f2f2;
  }
  
  .form-inline {
    width: 50%;
    margin: 0 auto;
  }
  
  input[type="text"] {
    width: 70%;
  }
  
  button[type="submit"] {
    width: 30%;
  }
  
  .mt-4 {
    margin-top: 4rem;
  }
  
  h1,
  h2 {
    text-align: center;
  }
  